section.section.section-profits.section-with-decor.section-with-decor_top-right
	.wrapper.wrapper_profits
		.benefits-list
			.benefits-list-item.benefits-list-item_1(data-aos="zoom-in" data-aos-delay="300")
				.benefits-icon.benefits-icon-commodities_1
				h3.benefits-list__title.h3-title !{commoditiesProfitsText.profit1.title[lang]}
				p.benefits-list__text !{commoditiesProfitsText.profit1.text[lang]}
			.benefits-list-item.benefits-list-item_2(data-aos="zoom-in" data-aos-delay="450")
				.benefits-icon.benefits-icon-commodities_2
				h3.benefits-list__title.h3-title !{commoditiesProfitsText.profit2.title[lang]}
				p.benefits-list__text !{commoditiesProfitsText.profit2.text[lang]}
			.benefits-list-item.benefits-list-item_3(data-aos="zoom-in" data-aos-delay="300")
				.benefits-icon.benefits-icon-commodities_3
				h3.benefits-list__title.h3-title !{commoditiesProfitsText.profit3.title[lang]}
				p.benefits-list__text !{commoditiesProfitsText.profit3.text[lang]}
			.benefits-list-item.benefits-list-item_4(data-aos="zoom-in" data-aos-delay="450")
				.benefits-icon.benefits-icon-commodities_4
				h3.benefits-list__title.h3-title !{commoditiesProfitsText.profit4.title[lang]}
				p.benefits-list__text !{commoditiesProfitsText.profit4.text[lang]}
