nav.nav(class="nav_" + lang)
	.nav-wrapper.wrapper
		a.nav-logo(href="index.html")
			img(src=baseDir + brandlinks.logo width="48" height="48" alt="logo" title="logo")
		ul.nav-list(class="nav-list_" + lang)
			li.nav-list__item(class={active :
				currentPage == "financial-instruments" ||
				currentPage == "currencies" ||
				currentPage == "metals" ||
				currentPage == "stocks" ||
				currentPage == "commodities" ||
				currentPage == "indices" ||
				currentPage == "cryptocurrencies"})
				a.nav-list__link.icon-arrow-menu(href="financial-instruments.html") !{navText.markets[lang]}
					.arrow-menu
						| <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path d="M1 0.999999L4.5 4L8 1" stroke="#0F2852" stroke-linecap="round" stroke-linejoin="round"/>
						| </svg>
				ul.sub-nav-list
					li.sub-nav-list__item(class={active : currentPage == "currencies"}): a.sub-nav-list__link(href="currencies.html"): span !{navText.forex[lang]}
					li.sub-nav-list__item(class={active : currentPage == "metals"}): a.sub-nav-list__link(href="metals.html"): span !{navText.metals[lang]}
					li.sub-nav-list__item(class={active : currentPage == "stocks"}): a.sub-nav-list__link(href="stocks.html"): span !{navText.stocks[lang]}
					li.sub-nav-list__item(class={active : currentPage == "commodities"}): a.sub-nav-list__link(href="commodities.html"): span !{navText.commodities[lang]}
					li.sub-nav-list__item(class={active : currentPage == "indices"}): a.sub-nav-list__link(href="indices.html"): span !{navText.indices[lang]}
					li.sub-nav-list__item(class={active : currentPage == "cryptocurrencies"}): a.sub-nav-list__link(href="cryptocurrencies.html"): span !{navText.crypto[lang]}
			li.nav-list__item(class={active : currentPage == "trading-conditions"})
				a.nav-list__link(href="trading-conditions.html") !{navText.trading[lang]}
			li.nav-list__item(class={active :
				currentPage == "about-company" ||
				currentPage == "licenses"})
				a.nav-list__link.icon-arrow-menu(href="about-company.html") !{navText.about[lang]}
					.arrow-menu
						| <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path d="M1 0.999999L4.5 4L8 1" stroke="#0F2852" stroke-linecap="round" stroke-linejoin="round"/>
						| </svg>
				ul.sub-nav-list.sub-nav-list_license
					li.sub-nav-list__item(class={active : currentPage == "licenses"})
						a.sub-nav-list__link(href="licenses.html"): span !{navText.licenses[lang]}
			li.nav-list__item(class={active : currentPage == "contacts"})
				a.nav-list__link(href="contacts.html") !{navText.contacts[lang]}
			li.nav-list__item.nav-list__item_lang
				.nav-list__link.nav-list__link-lang.icon-arrow-menu(class= "nav-list__link-lang_" + lang) !{languageText[lang]}
					.arrow-menu
						| <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
						| <path d="M1 0.999999L4.5 4L8 1" stroke="#0F2852" stroke-linecap="round" stroke-linejoin="round"/>
						| </svg>
				ul.sub-nav-list.sub-nav-list_lang
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "en"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_en(href=baseDir + currentPage + ".html"): span English
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "ru"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_ru(href=baseDir + "ru/" + currentPage + ".html"): span Русский
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "es"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_es(href=baseDir + "es/" + currentPage + ".html"): span Español
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "de"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_de(href=baseDir + "de/" + currentPage + ".html"): span Deutsch
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "fr"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_fr(href=baseDir + "fr/" + currentPage + ".html"): span Français
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "pl"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_pl(href=baseDir + "pl/" + currentPage + ".html"): span Polski
					li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "tr"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_tr(href=baseDir + "tr/" + currentPage + ".html"): span Türk
					//li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "it"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_it(href=baseDir + "it/" + currentPage + ".html"): span Italiano
					//li.sub-nav-list__item.sub-nav-list__item_lang(class={active: lang == "zh"}): a.sub-nav-list__link.sub-nav-list__link-lang.sub-nav-list__link-lang_zh(href=baseDir + "zh/" + currentPage + ".html"): span 中国人
			li.nav-list__item.nav-list__item_only-mobile
				a(href= linkLogin).btn-login.btn-nav_mobile !{buttonText.login[lang]}
				a(href= linkSignup).btn.btn-register.btn-nav_mobile: span !{buttonText.signup[lang]}
		.nav-btns
			a(href= linkLogin).btn-login !{buttonText.login[lang]}
			a(href= linkSignup).btn.btn-register: span !{buttonText.signup[lang]}
