section.section.section-profits.section-with-decor.section-with-decor_top-right
	.wrapper.wrapper_profits
		.benefits-list
			.benefits-list-item.benefits-list-item_1(data-aos="zoom-in" data-aos-delay="300")
				.benefits-icon.benefits-icon-crypto_1
				h3.benefits-list__title.h3-title !{cryptoProfitsText.profit1.title[lang]}
				p.benefits-list__text !{cryptoProfitsText.profit1.text[lang]}
			.benefits-list-item.benefits-list-item_2(data-aos="zoom-in" data-aos-delay="450")
				.benefits-icon.benefits-icon-crypto_2
				h3.benefits-list__title.h3-title !{cryptoProfitsText.profit2.title[lang]}
				p.benefits-list__text !{cryptoProfitsText.profit2.text[lang]}
			.benefits-list-item.benefits-list-item_3(data-aos="zoom-in" data-aos-delay="300")
				.benefits-icon.benefits-icon-crypto_3
				h3.benefits-list__title.h3-title !{cryptoProfitsText.profit3.title[lang]}
				p.benefits-list__text !{cryptoProfitsText.profit3.text[lang]}
			.benefits-list-item.benefits-list-item_4(data-aos="zoom-in" data-aos-delay="450")
				.benefits-icon.benefits-icon-crypto_4
				h3.benefits-list__title.h3-title !{cryptoProfitsText.profit4.title[lang]}
				p.benefits-list__text !{cryptoProfitsText.profit4.text[lang]}
