section.section.section-goals.section-black
	.wrapper.wrapper_goals
		h2.h2-title.h2-title_goals.color-white !{aboutGoalsText.h2[lang]}
		.goals-list-wrapper
			.goals-list
				.goals-list__item.goals-list__item_1.block-blue-hover(data-aos="fade-in" data-aos-delay="300")
					.goals-header-wrapper
						.goals-icon.goals-icon_1(data-aos="zoom" data-aos-delay="450")
						h3.goals-list__title.h3-title.h3-title_blue !{aboutGoalsText.goal1.title[lang]}
					p.goals-list__text !{aboutGoalsText.goal1.text[lang]}
				.goals-list__item.goals-list__item_2.block-blue-hover(data-aos="fade-in" data-aos-delay="450")
					.goals-header-wrapper
						.goals-icon.goals-icon_2(data-aos="zoom" data-aos-delay="600")
						h3.goals-list__title.h3-title.h3-title_blue !{aboutGoalsText.goal2.title[lang]}
					p.goals-list__text !{aboutGoalsText.goal2.text[lang]}
