section.section.section-history.section-dark
	.wrapper.wrapper-history
		h2.h2-title.h2-title_history.white !{aboutHistoryText.h2[lang]}
		.history-wrapper
			.history-list-item-wrapper.history-list-item-wrapper_1
				.history-list__item.block-blue-hover
						h3.h3-title.history-list__title.center !{aboutHistoryText.year1.title[lang]}
						p.history-list__text.center !{aboutHistoryText.year1.text[lang]}
						.year 2019
			.history-list-item-wrapper
				.history-list__item.block-blue-hover
						h3.h3-title.history-list__title.center !{aboutHistoryText.year2.title[lang]}
						p.history-list__text.center !{aboutHistoryText.year2.text[lang]}
						.year 2020
			.history-list-item-wrapper
				.history-list__item.block-blue-hover
						h3.h3-title.history-list__title.center !{aboutHistoryText.year3.title[lang]}
						p.history-list__text.center !{aboutHistoryText.year3.text[lang]}
						.year 2021
			.history-list-item-wrapper.history-list-item-wrapper_4
				.history-list__item.block-blue-hover
						h3.h3-title.history-list__title.center !{aboutHistoryText.year4.title[lang]}
						p.history-list__text.center !{aboutHistoryText.year4.text[lang]}
						.year 2022
