section.section.section-conditions.section-dark
	.wrapper.wrapper-conditions
		.conditions-wrapper
			.conditions-wrapper__content
				h2.h2-title.h2-title_conditions.left.white !{aboutConditionsText.title[lang]}
				p.conditions__text.big-text !{aboutConditionsText.text[lang]}
				a(href=linkSignup).btn: span !{buttonText.btnOpenAcc[lang]}
			.conditions-wrapper__img
				img(data-aos="zoom-in" data-aos-delay="300" src=baseDir + "assets/images/conditions-img_1x.png" srcset=baseDir + "assets/images/conditions-img_1x.png 1x, " + baseDir + "assets/images/conditions-img_2x.png 2x" alt="conditions img")
