section.section.section-quality
	.wrapper.wrapper_quality
		.quality-wrapper
			.quality-wrapper__content
				h2.h2-title.h2-title_quality.left !{aboutQualityText.title[lang]}
				p.quality__text.big-text !{aboutQualityText.text[lang]}
				a(href=linkSignup).btn.btn-about: span !{buttonText.btnStartTrade[lang]}
			.quality-wrapper__img
				img(data-aos="zoom-in" data-aos-delay="300" src=baseDir + "assets/images/quality-img_1x.png" srcset=baseDir + "assets/images/quality-img_1x.png 1x, " + baseDir + "assets/images/quality-img_2x.png 2x" alt="quality img")
