section.section.section-platform.section-pink
	.wrapper.wrapper_platform
		h2.h2-title.h2-title_platform !{aboutPlatformText.title[lang]}
		p.platform-text.big-text.center !{aboutPlatformText.text[lang]}
		.platform-row
			.platform-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="300")
				.platform-icon.platform-icon_1(data-aos="zoom" data-aos-delay="450")
				.h3-title.h3-title_platform.h3-title_blue !{aboutPlatformText.advantage1[lang]}
			.platform-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="450")
				.platform-icon.platform-icon_2(data-aos="zoom" data-aos-delay="600")
				.h3-title.h3-title_platform.h3-title_blue !{aboutPlatformText.advantage2[lang]}
			.platform-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="600")
				.platform-icon.platform-icon_3(data-aos="zoom" data-aos-delay="750")
				.h3-title.h3-title_platform.h3-title_blue !{aboutPlatformText.advantage3[lang]}
			.platform-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="300")
				.platform-icon.platform-icon_4(data-aos="zoom" data-aos-delay="450")
				.h3-title.h3-title_platform.h3-title_blue !{aboutPlatformText.advantage4[lang]}
			.platform-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="450")
				.platform-icon.platform-icon_5(data-aos="zoom" data-aos-delay="600")
				.h3-title.h3-title_platform.h3-title_blue !{aboutPlatformText.advantage5[lang]}
			.platform-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="600")
				.platform-icon.platform-icon_6(data-aos="zoom" data-aos-delay="750")
				.h3-title.h3-title_platform.h3-title_blue !{aboutPlatformText.advantage6[lang]}
			.platform-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="300")
				.platform-icon.platform-icon_7(data-aos="zoom" data-aos-delay="450")
				.h3-title.h3-title_platform.h3-title_blue !{aboutPlatformText.advantage7[lang]}
		a(href=linkSignup).btn.btn-platform: span !{buttonText.btnStartTrade[lang]}
