include ../nav.pug
header.page-header.page-header_other-page
	.wrapper-page-image
		.wrapper.wrapper__header-bg
			.decor-header.decor-header_about
			picture
				source(srcset=baseDir + "assets/images/about_1x.webp 1x, " + baseDir + "assets/images/about_2x.webp 2x" type="image/webp")
				img.header-img.header-img_about(data-aos="zoom-in" data-aos-delay="500" src=baseDir + "assets/images/about_1x.png" srcset=baseDir + "assets/images/about_1x.png 1x, " + baseDir + "assets/images/about_2x.png 2x" alt="about")
	.wrapper.wrapper-header.wrapper-header_other-page
		.text-header-wrapper.text-header-wrapper_about
			h1.page-header__title.h1-title !{aboutHeaderText.title[lang]}
			p.page-header__text !{aboutHeaderText.text[lang]}
			a(href=linkSignup).btn.btn-about: span !{buttonText.btnStartTrade[lang]}
