section.section.section-counter
	.counter-decor-wrapper.wrapper
	.wrapper.wrapper_counter-list
		.counter-list
			.counter-list__item.counter-list__item-1(data-aos="fade" data-aos-delay="300")
				h3.center.counter-list__title.counter-list__title-1 !{aboutCounterText.counter1.title[lang]}
				p.center.counter-list__text !{aboutCounterText.counter1.text[lang]}
			.counter-list__item.counter-list__item-2(data-aos="fade" data-aos-delay="450")
				h3.center.counter-list__title.counter-list__title-2 !{aboutCounterText.counter2.title[lang]}
				p.center.counter-list__text !{aboutCounterText.counter2.text[lang]}
			.counter-list__item.counter-list__item-3(data-aos="fade" data-aos-delay="600")
				h3.center.counter-list__title.counter-list__title-3 !{aboutCounterText.counter3.title[lang]}
				p.center.counter-list__text !{aboutCounterText.counter3.text[lang]}
			.counter-list__item.counter-list__item-4(data-aos="fade" data-aos-delay="750")
				h3.center.counter-list__title.counter-list__title-4 !{aboutCounterText.counter4.title[lang]}
				p.center.counter-list__text !{aboutCounterText.counter4.text[lang]}
			.counter-list__item.counter-list__item-5(data-aos="fade" data-aos-delay="900")
				h3.center.counter-list__title.counter-list__title-5 !{aboutCounterText.counter5.title[lang]}
				p.center.counter-list__text !{aboutCounterText.counter5.text[lang]}
