section.section.section-markets
		.markets-list__item.markets-list__item-1(data-aos="fade-in" data-aos-delay="300")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper
					img(data-aos="zoom-in" data-aos-delay="450" src=baseDir + "assets/images/markets-list-item-1_1x.png" srcset=baseDir + "assets/images/markets-list-item-1_1x.png 1x, " + baseDir + "assets/images/markets-list-item-1_2x.png 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market1.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market1.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list: span !{buttonText.btnStartTrade[lang]}
						a(href="currencies.html").btn.btn-ver-2: span !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-2(data-aos="fade-in" data-aos-delay="300")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper.markets-img-wrapper_1
					img(data-aos="zoom-in" data-aos-delay="450" src=baseDir + "assets/images/markets-list-item-2_1x.png" srcset=baseDir + "assets/images/markets-list-item-2_1x.png 1x, " + baseDir + "assets/images/markets-list-item-2_2x.png 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market2.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market2.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list: span !{buttonText.btnStartTrade[lang]}
						a(href="metals.html").btn.btn-ver-2: span !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-3(data-aos="fade-in" data-aos-delay="300")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper
					img(data-aos="zoom-in" data-aos-delay="450" src=baseDir + "assets/images/markets-list-item-3_1x.png" srcset=baseDir + "assets/images/markets-list-item-3_1x.png 1x, " + baseDir + "assets/images/markets-list-item-3_2x.png 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market3.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market3.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list: span !{buttonText.btnStartTrade[lang]}
						a(href="stocks.html").btn.btn-ver-2: span !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-4(data-aos="fade-in" data-aos-delay="300")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper
					img(data-aos="zoom-in" data-aos-delay="450" src=baseDir + "assets/images/markets-list-item-4_1x.png" srcset=baseDir + "assets/images/markets-list-item-4_1x.png 1x, " + baseDir + "assets/images/markets-list-item-4_2x.png 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market4.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market4.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list: span !{buttonText.btnStartTrade[lang]}
						a(href="commodities.html").btn.btn-ver-2: span !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-5(data-aos="fade-in" data-aos-delay="300")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper
					img(data-aos="zoom-in" data-aos-delay="450" src=baseDir + "assets/images/markets-list-item-5_1x.png" srcset=baseDir + "assets/images/markets-list-item-5_1x.png 1x, " + baseDir + "assets/images/markets-list-item-5_2x.png 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market5.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market5.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list: span !{buttonText.btnStartTrade[lang]}
						a(href="indices.html").btn.btn-ver-2: span !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-6(data-aos="fade-in" data-aos-delay="300")
			.wrapper.wrapper_markets-list
				.markets-img-wrapper
					img(data-aos="zoom-in" data-aos-delay="450" src=baseDir + "assets/images/markets-list-item-6_1x.png" srcset=baseDir + "assets/images/markets-list-item-6_1x.png 1x, " + baseDir + "assets/images/markets-list-item-6_2x.png 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market6.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market6.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list: span !{buttonText.btnStartTrade[lang]}
						a(href="cryptocurrencies.html").btn.btn-ver-2: span !{buttonText.btnLearMore[lang]}
