#callback.callback-popup.popup.mfp-hide
	h2.h2-title.h2-title_callback.center !{formsText.titleCallback[lang]}
	.help-text.help-text_callback-form.center !{formsText.text_required[lang]}
	form.callback-form#contact-callback-form(method="post")
		.form-item
			label.input-wrapper.input-wrapper_user
				span.label-form !{formsText.labelName[lang]}
				input.form-input(type="text" required name="first_name" minlength="2" maxlength="30")
				span.error-icon
		.form-item
			label.input-wrapper.input-wrapper_user
				span.label-form !{formsText.labelLastName[lang]}
				input.form-input(type="text" required name="last_name" minlength="2" maxlength="30")
				span.error-icon
		.form-item
			label.input-wrapper.input-wrapper_phone
				span.label-form !{formsText.labelPhone[lang]}
				input.form-input(type="tel" required name="phone_number" minlength="7" maxlength="50")
				span.error-icon
		.form-item
			label.input-wrapper.input-wrapper_email
				span.label-form !{formsText.labelMail[lang]}
				input.form-input(type="email" required name="email")
				span.error-icon
		.form-item.select-custom-wrapper.select-wrapper-country
			label.input-wrapper
				span.label-form !{formsText.labelCountry[lang]}
				select#select-country.custom-select(name="country" data-placeholder= "")
					option
		.form-item.select-custom-wrapper.select-custom-wrapper_required.select-wrapper-lang
			label.input-wrapper
				span.label-form !{formsText.labelLanguage[lang]}
				select#select-lang.custom-select(name="language" data-placeholder= "")
					option
					option(value="EN") En
					option(value="RU") Ru
					option(value="ES") Es
					option(value="DE") De
					option(value="FR") Fr
					option(value="IT") It
					option(value="ZH") Zh
		.form-item.form-item_time
			label.input-wrapper.input-wrapper_time
				span.label-form !{formsText.labelTime[lang]}
				input.form-input(type="text" name="time_to_call" minlength="2" maxlength="50")
		input(type="hidden" name="name_page" value="Контакты")
		.submit-btn-wrapper
			button.btn.btn-submit(type="submit"): span !{buttonText.btnCallback[lang]}
