section.section.section-advantages
	.wrapper.wrapper-advantages
		h2.h2-title.h2-title-advantages !{indexAdvantagesText.h2[lang]}
		.advantages-list
			.advantages-list__item.advantages-list__item_1(data-aos="fade" data-aos-delay="300")
				.advantages-header
					.advantages-list__icon.advantages-list__icon-1
						img(src=baseDir + "assets/images/advantages-icon-1.png" alt="advantages-icon" data-aos="zoom-in" data-aos-delay="450")
					h3.advantages-list__title.h3-title.h3-title_blue !{indexAdvantagesText.advantage1.title[lang]}
				p.advantages-list__text !{indexAdvantagesText.advantage1.text[lang]}
			.advantages-list__item.advantages-list__item_2(data-aos="fade" data-aos-delay="450")
				.advantages-header
					.advantages-list__icon.advantages-list__icon-2
						img(src=baseDir + "assets/images/advantages-icon-2.png" alt="advantages-icon" data-aos="zoom-in" data-aos-delay="600")
					h3.advantages-list__title.h3-title.h3-title_blue !{indexAdvantagesText.advantage2.title[lang]}
				p.advantages-list__text !{indexAdvantagesText.advantage2.text[lang]}
			.advantages-list__item.advantages-list__item_3(data-aos="fade" data-aos-delay="600")
				.advantages-header
					.advantages-list__icon.advantages-list__icon-3
						img(src=baseDir + "assets/images/advantages-icon-3.png" alt="advantages-icon" data-aos="zoom-in" data-aos-delay="750")
					h3.advantages-list__title.h3-title.h3-title_blue !{indexAdvantagesText.advantage3.title[lang]}
				p.advantages-list__text !{indexAdvantagesText.advantage3.text[lang]}
			.advantages-list__item.advantages-list__item_4(data-aos="fade" data-aos-delay="300")
				.advantages-header
					.advantages-list__icon.advantages-list__icon-4
						img(src=baseDir + "assets/images/advantages-icon-4.png" alt="advantages-icon" data-aos="zoom-in" data-aos-delay="450")
					h3.advantages-list__title.h3-title.h3-title_blue !{indexAdvantagesText.advantage4.title[lang]}
				p.advantages-list__text !{indexAdvantagesText.advantage4.text[lang]}
				.advantages-decor-line-4
			.advantages-list__item.advantages-list__item_5(data-aos="fade" data-aos-delay="450")
				.advantages-header
					.advantages-list__icon.advantages-list__icon-5
						img(src=baseDir + "assets/images/advantages-icon-5.png" alt="advantages-icon" data-aos="zoom-in" data-aos-delay="600")
					h3.advantages-list__title.h3-title.h3-title_blue !{indexAdvantagesText.advantage5.title[lang]}
				p.advantages-list__text !{indexAdvantagesText.advantage5.text[lang]}
				.advantages-decor-line-5
			.advantages-list__item.advantages-list__item_6(data-aos="fade" data-aos-delay="600")
				.advantages-header
					.advantages-list__icon.advantages-list__icon-6
						img(src=baseDir + "assets/images/advantages-icon-6.png" alt="advantages-icon" data-aos="zoom-in" data-aos-delay="750")
					h3.advantages-list__title.h3-title.h3-title_blue !{indexAdvantagesText.advantage6.title[lang]}
				p.advantages-list__text !{indexAdvantagesText.advantage6.text[lang]}
				.advantages-decor-line-6
