section.section.section-steps.section-dark
	.wrapper.wrapper-steps
		h2.white.h2-title.h2-title_steps !{indexStepsText.h2[lang]}
		.steps-content-wrapper
			.steps-img
				img(data-aos="zoom-in" data-aos-delay="300" src=baseDir + "assets/images/steps_1x.png" srcset=baseDir + "assets/images/steps_1x.png 1x, " + baseDir + "assets/images/steps_2x.png 2x" alt="steps")
			.steps-list
				.steps-list-item.steps-list__item-1(data-aos="fade-in" data-aos-delay="300")
					.steps-number.steps-number_1
						span 1
						.steps-number-text
					h3.steps-list__title.h3-title !{indexStepsText.step1.title[lang]}
					p.steps-list__text !{indexStepsText.step1.text[lang]}
				.steps-list-item.steps-list__item-2(data-aos="fade-in" data-aos-delay="450")
					.steps-number.steps-number_2
						span 2
						.steps-number-text
					h3.steps-list__title.h3-title !{indexStepsText.step2.title[lang]}
					p.steps-list__text !{indexStepsText.step2.text[lang]}
				.steps-list-item.steps-list__item-3(data-aos="fade-in" data-aos-delay="600")
					.steps-number.steps-number_3
						span 3
						.steps-number-text
					h3.steps-list__title.h3-title !{indexStepsText.step3.title[lang]}
					p.steps-list__text !{indexStepsText.step3.text[lang]}
