include ../nav.pug
header.main-header.page-header
	.wrapper.wrapper-header
		.js-bg-main.main-background-slider-list
			-for(let i = 1; i < 5; i++)
				.main-background-slider-list__item
					.wrapper.main-background-slider_wrapper
						.decor-header(class="decor-header-main-" + i)
						picture
							source(srcset=baseDir + "assets/images/main-slider-" + i + "_1x.webp 1x, " + baseDir + "assets/images/main-slider-" + i + "_2x.webp 2x" type="image/webp")
							img.img-slider(class="img-slider_main-" + i src=baseDir + "assets/images/main-slider-" + i + "_1x.png" srcset=baseDir + "assets/images/main-slider-" + i + "_1x.png 1x, " + baseDir + "assets/images/main-slider-" + i + "_2x.png 2x" alt="main slide")
		.js-main-slider.main-slider-text
			-for(let i = 1; i < 5; i++)
				.main-slider__item(class=["main-slider__item"+i])
					if i == 1
						h1.main-slider__title.h1-title !{indexHeaderText["slide"+i].title[lang]}
					else
						.main-slider__title.h1-title !{indexHeaderText["slide"+i].title[lang]}
					p.main-slider__text.page-header__text !{indexHeaderText["slide"+i].text[lang]}
					a(href=linkSignup).btn.btn-start-trade: span !{buttonText.btnStartTrade[lang]}
		.wrapper.dots-main-wrapper.dots-main-slider-js.dots-wrapper
