section.section.section-profits.section-with-decor.section-with-decor_top-right
	.wrapper.wrapper_profits
		.benefits-list
			.benefits-list-item.benefits-list-item_1(data-aos="zoom-in" data-aos-delay="300")
				.benefits-icon.benefits-icon-indices_1
				h3.benefits-list__title.h3-title !{indicesProfitsText.profit1.title[lang]}
				p.benefits-list__text !{indicesProfitsText.profit1.text[lang]}
			.benefits-list-item.benefits-list-item_2(data-aos="zoom-in" data-aos-delay="450")
				.benefits-icon.benefits-icon-indices_2
				h3.benefits-list__title.h3-title !{indicesProfitsText.profit2.title[lang]}
				p.benefits-list__text !{indicesProfitsText.profit2.text[lang]}
			.benefits-list-item.benefits-list-item_3(data-aos="zoom-in" data-aos-delay="300")
				.benefits-icon.benefits-icon-indices_3
				h3.benefits-list__title.h3-title !{indicesProfitsText.profit3.title[lang]}
				p.benefits-list__text !{indicesProfitsText.profit3.text[lang]}
			.benefits-list-item.benefits-list-item_4(data-aos="zoom-in" data-aos-delay="450")
				.benefits-icon.benefits-icon-indices_4
				h3.benefits-list__title.h3-title !{indicesProfitsText.profit4.title[lang]}
				p.benefits-list__text !{indicesProfitsText.profit4.text[lang]}
