section.section.section-profits
	.wrapper.wrapper_profits
		.profits-img
			img(data-aos="zoom-in" data-aos-delay="300" src=baseDir + "assets/images/profits_1x.png" srcset=baseDir + "assets/images/profits_1x.png 1x, " + baseDir + "assets/images/profits_2x.png 2x" alt="profits")
		.profits-list
			.profits-list-item.profits-list-item_1(data-aos="zoom-in" data-aos-delay="300")
				.circle-list__icon.profits-list__icon-1
					.circle-list__icon-bg.profits-list__icon-bg-1(class="profits-list__icon-bg-" + currentPage + "-1")
					.circle-list__icon-img.profits-list__icon-img-1
						img(src=baseDir + "assets/images/profits-" + currentPage + "-icon-1.svg" alt="profits-icon")
				h3.profits-list__title.h3-title !{forexProfitsText.profit1.title[lang]}
				p.profits-list__text !{forexProfitsText.profit1.text[lang]}
			.profits-list-item.profits-list-item_2(data-aos="zoom-in" data-aos-delay="450")
				.circle-list__icon.profits-list__icon-2
					.circle-list__icon-bg.profits-list__icon-bg-2(class="profits-list__icon-bg-" + currentPage + "-2")
					.circle-list__icon-img.profits-list__icon-img-2
						img(src=baseDir + "assets/images/profits-" + currentPage + "-icon-2.svg" alt="profits-icon")
				h3.profits-list__title.h3-title !{forexProfitsText.profit2.title[lang]}
				p.profits-list__text !{forexProfitsText.profit2.text[lang]}
			.profits-list-item.profits-list-item_3(data-aos="zoom-in" data-aos-delay="300")
				.circle-list__icon.profits-list__icon-3
					.circle-list__icon-bg.profits-list__icon-bg-3(class="profits-list__icon-bg-" + currentPage + "-3")
					.circle-list__icon-img.profits-list__icon-img-3
						img(src=baseDir + "assets/images/profits-" + currentPage + "-icon-3.svg" alt="profits-icon")
				h3.profits-list__title.h3-title !{forexProfitsText.profit3.title[lang]}
				p.profits-list__text !{forexProfitsText.profit3.text[lang]}
			.profits-list-item.profits-list-item_4(data-aos="zoom-in" data-aos-delay="450")
				.circle-list__icon.profits-list__icon-4
					.circle-list__icon-bg.profits-list__icon-bg-4(class="profits-list__icon-bg-" + currentPage + "-4")
					.circle-list__icon-img.profits-list__icon-img-4
						img(src=baseDir + "assets/images/profits-" + currentPage + "-icon-4.svg" alt="profits-icon")
				h3.profits-list__title.h3-title !{forexProfitsText.profit4.title[lang]}
				p.profits-list__text !{forexProfitsText.profit4.text[lang]}
