section.section.section-licenses
	.wrapper.wrapper_licenses
		.licenses-list
				.licenses-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="300")
					.licenses-title-wrapper
						h3.h3-title.center.licenses-list__title.h3-title_blue !{licensesListText.license1.title[lang]}
					p.licenses-list__text.center !{licensesListText.license1.text[lang]}
				.licenses-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="450")
					.licenses-title-wrapper
						h3.h3-title.center.licenses-list__title.h3-title_blue !{licensesListText.license2.title[lang]}
					p.licenses-list__text.center !{licensesListText.license2.text[lang]}
				.licenses-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="600")
					.licenses-title-wrapper
						h3.h3-title.center.licenses-list__title.h3-title_blue !{licensesListText.license3.title[lang]}
					p.licenses-list__text.center !{licensesListText.license3.text[lang]}
				.licenses-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="750")
					.licenses-title-wrapper
						h3.h3-title.center.licenses-list__title.h3-title_blue !{licensesListText.license4.title[lang]}
					p.licenses-list__text.center !{licensesListText.license4.text[lang]}
				.licenses-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="300")
					.licenses-title-wrapper
						h3.h3-title.center.licenses-list__title.h3-title_blue !{licensesListText.license5.title[lang]}
					p.licenses-list__text.center !{licensesListText.license5.text[lang]}
				.licenses-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="450")
					.licenses-title-wrapper
						h3.h3-title.center.licenses-list__title.h3-title_blue !{licensesListText.license6.title[lang]}
					p.licenses-list__text.center !{licensesListText.license6.text[lang]}
				.licenses-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="600")
					.licenses-title-wrapper
						h3.h3-title.center.licenses-list__title.h3-title_blue !{licensesListText.license7.title[lang]}
					p.licenses-list__text.center !{licensesListText.license7.text[lang]}
				.licenses-list__item.block-blue-hover(data-aos="fade-in" data-aos-delay="750")
					.licenses-title-wrapper
						h3.h3-title.center.licenses-list__title.h3-title_blue !{licensesListText.license8.title[lang]}
					p.licenses-list__text.center !{licensesListText.license8.text[lang]}
